@import '../../../content/scss/variables';

p {
  margin: 5px;
}

h1 {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0px !important;
}

h1,
h2,
h3,
h4 {
  text-align: left;
}

h2,
h3,
h4 {
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 3px;
  margin: 0px;
}

h4 {
  padding-left: 15px;
}

.summary {
  border-right: 1px solid black;
  margin: 0px;
  text-align: left;
  height: $height_nav;
  overflow: auto;
  z-index: 1;
}

.summary > div:nth-child(1) {
  display: flex;
  flex-wrap: wrap;
}

.menu-button {
  color: $gold;
  position: fixed;
  cursor: pointer;
  z-index: 2;
  font-size: 30px !important;
}

.menu-button fa-icon {
  position: absolute;
}

.menu-bkg {
  color: $white;
  z-index: 1;
}

.menu-arrow {
  z-index: 2;
}

a.bkg-white:hover,
.bkg-white h2:hover,
.bkg-white h3:hover,
.bkg-white h4:hover,
button.bkg-white:hover {
  background-color: $gray !important;
  cursor: pointer;
}
