<span class="menu-button mt-1 mr-2 ml-2" (click)="toggleSommaire()">
	<fa-icon class="menu-bkg" icon="circle"></fa-icon>
	<fa-icon class="menu-arrow" icon="arrow-circle-right" *ngIf="collapseSummary"></fa-icon>
	<fa-icon class="menu-arrow" icon="arrow-circle-left" *ngIf="!collapseSummary"></fa-icon>
</span>

<div *ngIf="!collapseSummary" class="content summary bkg-white no-scrollbar">
	<div>
		<h1><span jhiTranslate="library.summary">Summary</span></h1>
	</div>
	<div [ngbCollapse]="collapseSummary">
		<div *ngIf="!isLoading">
			<h2 (click)="changeBook(book.id)">
				{{book.name}}
			</h2>
			<div *ngFor="let part of book.parts">
				<h3 (click)="collapseParts[part.id] = !collapseParts[part.id]; changePart(part.id)">
					{{part.name}}
					<span *ngIf="!forceOpenAll" class="fa"
						[ngClass]="(collapseParts[part.id])?'fa-angle-down':'fa-angle-up'"></span>
				</h3>
				<div [ngbCollapse]="isPartCollapse(part.id)">
					<div *ngFor="let chapter of part.chapters">
						<h4 (click)="changeChapter(chapter.id)">{{chapter.number}} {{chapter.name}}</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>