<div class="content">
	<article>
		<h1 jhiTranslate="legal-notice.title"></h1>
		<div>
			<h2 jhiTranslate="legal-notice.cookies.title"></h2>
			<p jhiTranslate="legal-notice.cookies.body"></p>
		</div>
		<div>
			<h2 jhiTranslate="legal-notice.download.title"></h2>
			<p jhiTranslate="legal-notice.download.body" [translateValues]="{ PILegifranceUrl: PILegifranceUrl }"></p>
		</div>
		<div>
			<h2 jhiTranslate="legal-notice.distribution.title"></h2>
			<img src="../../../content/images/by-nc-nd.svg" alt="CC BY-NC-ND" />
			<p jhiTranslate="legal-notice.distribution.body">
			</p>
			<ul>
				<li jhiTranslate="legal-notice.distribution.list.cc"></li>
				<li jhiTranslate="legal-notice.distribution.list.by"></li>
				<li jhiTranslate="legal-notice.distribution.list.nc"></li>
				<li jhiTranslate="legal-notice.distribution.list.nd"></li>
			</ul>
			<p jhiTranslate="legal-notice.distribution.exception.*"></p>
			<p jhiTranslate="legal-notice.distribution.exception.**"></p>
		</div>
	</article>
</div>