<div class="content">
	<article>
		<h1>Mentions légales</h1>
		<h2>Utilisation des cookies / données personnelles</h2>
		<p>Ce site n'utilise ni cookies ni données personnelles. Par conséquent, la navigation au sein du site sera
			peut-être un peu moins fluide que vos autres experiences de lecture en ligne (pas de favorits, marque-pages,
			etc)</p>
		<h2>Téléchargement légal</h2>
		<p>Vous pouvez télécharger les livres que vous voulez au format docx (word). Les téléchargements sont totalement
			gratuits, mais le contenu des oeuvres est protégé par le droit d'auteur. <br />Cette ensemble de lois se
			nomme
			<a href="https://www.legifrance.gouv.fr/affichCode.do?cidTexte=LEGITEXT000006069414">Code de la propriété
				intélectuelle</a>.
		</p>
		<h2>Distribution légale <img src="../../../content/images/by-nc-nd.svg" alt="CC BY-NC-ND" /></h2>
		<p>Toutes les œuvres de ce site sont placées sous la licence CC BY-NC-ND. Cela signifie :</p>
		<ul>
			<li>CC (Creative Commons): Que vous pouvez les partager.</li>
			<li>BY (Attribution): A condition de citer correctement l'auteur de l'œuvre.</li>
			<li>NC (Non Commercial): Que ce partage ne soit pas rémunéré.</li>
			<li>ND (No Derivative): Que les oeuvres partagées ne soit pas altérées ou modifiées. Cela implique que le
				contenu, une fois partagé, soit également sous licence CC BY-NC-ND.</li>
		</ul>
		<p>Seront néanmoins tolérées les dérives tenant de la fan-fiction (chaque cas reporté sera étudié
			individuellement afin d'éviter le plagiat)</p>
	</article>
</div>