<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-scene-heading" jhiTranslate="nidAuxHistoiresApp.scene.home.createOrEditLabel">Create or edit a Scene</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nidAuxHistoiresApp.scene.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nidAuxHistoiresApp.scene.number" for="field_number">Number</label>
                    <input type="number" class="form-control" name="number" id="field_number"
                           formControlName="number"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nidAuxHistoiresApp.scene.text" for="field_text">Text</label>
                    <textarea class="form-control" name="text" id="field_text"
                              formControlName="text"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nidAuxHistoiresApp.scene.timestampStart" for="field_timestampStart">Timestamp Start</label>
                    <div class="input-group">
                        <input id="field_timestampStart" type="text" class="form-control" name="timestampStart"  formControlName="timestampStart"/>
                    </div>
                </div>



                <div class="form-group">
                    <label jhiTranslate="nidAuxHistoiresApp.scene.image" for="field_images">Image</label>
                    <select class="form-control" id="field_images" multiple name="images" formControlName="images">
                        <option [ngValue]="getSelected(editForm.get('images')!.value, imageOption)" *ngFor="let imageOption of images; trackBy: trackById">{{ imageOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="nidAuxHistoiresApp.scene.chapter" for="field_chapter">Chapter</label>
                    <select class="form-control" id="field_chapter" name="chapter" formControlName="chapterId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="chapterOption.id" *ngFor="let chapterOption of chapters; trackBy: trackById">{{ chapterOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
