<div class="content">
	<div class="container">
		<h1 jhiTranslate="generator.idea.title">Générateur d'idées</h1>
		<div>
			<form name="form" role="form" class="form-group" [formGroup]="ideaForm">
				<div class="row">
					<div class="col-sm">
						<label for="generationNumber" class="form-check-label" jhiTranslate="generator.idea.number">
							Nombre d'idées:
						</label>
						<input id="generationNumber" name="generationNumber" formControlName="generationNumber" 
						type="number" class="form-control" (keypress)="_keyNumber($event)"/>
						<div *ngIf="ideaForm.get('generationNumber')!.invalid && (ideaForm.get('generationNumber')!.dirty || ideaForm.get('generationNumber')!.touched)" >
							<small class="form-text text-danger"
									*ngIf="ideaForm.get('generationNumber')?.errors?.required"
									jhiTranslate="generator.idea.validation.required">
								A number of ideas is required.
							</small>
							<small class="form-text text-danger"
									*ngIf="ideaForm.get('generationNumber')?.errors?.min"
									jhiTranslate="generator.idea.validation.min">
								Must be greater than 0.
							</small>
							<small class="form-text text-danger"
									*ngIf="ideaForm.get('generationNumber')?.errors?.max"
									jhiTranslate="generator.idea.validation.max">
								Must be lesser than 13.
							</small>
						</div>
					</div>
					<div class="col-sm">
						<label for="generationTool" class="form-check-label" jhiTranslate="generator.idea.type">
							Type d'idées:
						</label>
						<select id="generationTool" name="generationTool" formControlName="generationTool" class="form-control">
							<option value="persona">Personnage</option>
							<option value="writing_option">Style d'écriture</option>
							<option value="location">Lieu</option>
							<option value="object">Objet</option>
							<option value="honorary_title">Titre honorifique</option>
							<option value="creature">Creature</option>
							<option value="quest">Quête</option>
						</select>
					</div>
					<div class="col-sm">
					</div>
				</div>
			</form>
			
			<!-- CONSTRAINT -->
			<div>
				<div class="form-group">
					<button class="btn bkg-gold mt-2 mr-2" (click)="generate()" jhiTranslate="generator.idea.generate">
						Générer
					</button>
					<button class="btn bkg-gold mt-2 mr-2" type="button" (click)="resetConstraint()"
						jhiTranslate="generator.idea.constraint.clean">
						Nettoyer contraintes
					</button>
					<button class="btn bkg-gold mt-2" type="button" (click)="hideConstraint = !hideConstraint">
						<span *ngIf="hideConstraint" jhiTranslate="generator.idea.constraint.display">
							Afficher contraintes
						</span>
						<span *ngIf="!hideConstraint" jhiTranslate="generator.idea.constraint.hide">
							Masquer contraintes
						</span>
					</button>
				</div>
				
				<div class="form-group">
					<div [ngbCollapse]="hideConstraint">
						<div class="card col col-lg-5" *ngIf="ideaForm.get('generationTool')!.value=='persona'">
							<div class="card-body">
								<dl>
									<dl>
										<dt><u>Général:</u></dt>
										<dd></dd>
										<dl class="pl-2">
											<dl>
												<dt>Nom:</dt>
												<dd><input class="form-control" type="text"
														[(ngModel)]="personaConstraint.name"></dd>
											</dl>
											<dl>
												<dt>Race:</dt>
												<dd><input class="form-control" type="text"
														[(ngModel)]="personaConstraint.race"></dd>
											</dl>
											<dl>
												<dt>Age:</dt>
												<dd><input class="form-control" type="number"
														[(ngModel)]="personaConstraint.age"></dd>
											</dl>
											<dl>
												<dt>Job:</dt>
												<dd><input class="form-control" type="text"
														[(ngModel)]="personaConstraint.job"></dd>
											</dl>
											<dl>
												<dt>Rôle:</dt>
												<dd><input class="form-control" type="text"
														[(ngModel)]="personaConstraint.role"></dd>
											</dl>
										</dl>
										<dt><u>Physique:</u></dt>
										<dd></dd>
										<dl class="pl-2">
											<dl>
												<dt>Genre:</dt>
												<dd><input class="form-control" type="text"
														[(ngModel)]="personaConstraint.physical.gender">
												</dd>
											</dl>
											<dl>
												<dt>Taille (cm):</dt>
												<dd><input class="form-control" type="number"
														[(ngModel)]="personaConstraint.physical.height">
												</dd>
											</dl>
											<dl>
												<dt>Poids (g):</dt>
												<dd><input class="form-control" type="number"
														[(ngModel)]="personaConstraint.physical.weight">
												</dd>
											</dl>
											<dl>
												<dt>Couleur cheveux:</dt>
												<dd><input class="form-control" type="text"
														[(ngModel)]="personaConstraint.physical.hairColor">
												</dd>
											</dl>
											<dl>
												<dt>Style coiffure:</dt>
												<dd><input class="form-control" type="text"
														[(ngModel)]="personaConstraint.physical.hairStyle">
												</dd>
											</dl>
											<dl>
												<dt>Couleur yeux:</dt>
												<dd><input class="form-control" type="text"
														[(ngModel)]="personaConstraint.physical.eyesColor">
												</dd>
											</dl>
											<dl>
												<dt>Visage:</dt>
												<dd><input class="form-control" type="text"
														[(ngModel)]="personaConstraint.physical.faceShape">
												</dd>
											</dl>
											<dl>
												<dt>Morphologie:</dt>
												<dd><input class="form-control" type="text"
														[(ngModel)]="personaConstraint.physical.morphology">
												</dd>
											</dl>
										</dl>
										<dt><u>Traits:</u></dt>
										<dd></dd>
										<dl class="pl-2">
											<dl>
												<dt>Bons:</dt>
												<dd><textarea class="form-control" [(ngModel)]="pe_goodTraitsConstraint"
														placeholder="a, b, c"></textarea>
												</dd>
											</dl>
											<dl>
												<dt>Mauvais:</dt>
												<dd><textarea class="form-control" [(ngModel)]="pe_badTraitsConstraint"
														placeholder="a, b, c"></textarea>
												</dd>
											</dl>
											<dl>
												<dt>Passe-temps:</dt>
												<dd><textarea class="form-control" [(ngModel)]="pe_caracteristicsConstraint"
														placeholder="a, b, c"></textarea>
												</dd>
											</dl>
											<dl>
												<dt>Handicaps:</dt>
												<dd><textarea class="form-control" [(ngModel)]="pe_handicapsConstraint"
														placeholder="a, b, c"></textarea>
												</dd>
											</dl>
										</dl>
									</dl>
								</dl>
							</div>
						</div>
						<div class="card col col-lg-5" *ngIf="ideaForm.get('generationTool')!.value=='creature'">
							<div class="card-body">
								<dl>
									<dl>
										<dt><u>Général:</u></dt>
										<dd></dd>
										<dl class="pl-2">
											<dl>
												<dt>Nom:</dt>
												<dd><input class="form-control" type="text"
														[(ngModel)]="creatureConstraint.name"></dd>
											</dl>
											<dl>
												<dt>Peau:</dt>
												<dd><input class="form-control" type="text"
														[(ngModel)]="creatureConstraint.skin"></dd>
											</dl>
											<dl>
												<dt>Taille:</dt>
												<dd><input class="form-control" type="number"
														[(ngModel)]="creatureConstraint.height"></dd>
											</dl>
											<dl>
												<dt>Poids:</dt>
												<dd><input class="form-control" type="text"
														[(ngModel)]="creatureConstraint.weight"></dd>
											</dl>
											<dl>
												<dt>Membres externes:</dt>
												<dd><input class="form-control" type="text"
														[(ngModel)]="creatureConstraint.nbMoveMembers"></dd>
											</dl>
										</dl>
										<dl class="pl-2">
											<dl>
												<dt>Lieux de vie:</dt>
												<dd><textarea class="form-control" [(ngModel)]="cr_locationConstraint"
														placeholder="a, b, c"></textarea>
												</dd>
											</dl>
											<dl>
												<dt>Alimentation:</dt>
												<dd><textarea class="form-control" [(ngModel)]="cr_dietConstraint"
														placeholder="a, b, c"></textarea>
												</dd>
											</dl>
											<dl>
												<dt>Attributs:</dt>
												<dd><textarea class="form-control" [(ngModel)]="cr_attributeConstraint"
														placeholder="a, b, c"></textarea>
												</dd>
											</dl>
											<dl>
												<dt>Compétences:</dt>
												<dd><textarea class="form-control" [(ngModel)]="cr_skillConstraint"
														placeholder="a, b, c"></textarea>
												</dd>
											</dl>
										</dl>
									</dl>
								</dl>
							</div>
						</div>
						<div class="card col col-lg-5" *ngIf="ideaForm.get('generationTool')!.value=='writing_option'">
							<div class="card-body">
								<dl>
									<dt><u>Général:</u></dt>
									<dd></dd>
									<dl class="pl-2">
										<dl>
											<dt>Thème:</dt>
											<dd>
												<input class="form-control" type="text"
													[(ngModel)]="writingOptionConstraint.theme">
											</dd>
										</dl>
										<dl>
											<dt>Style:</dt>
											<dd>
												<input class="form-control" type="text"
													[(ngModel)]="writingOptionConstraint.style">
											</dd>
										</dl>
									</dl>
								</dl>
							</div>
						</div>
						<div class="card col col-lg-5" *ngIf="ideaForm.get('generationTool')!.value=='location'">
							<div class="card-body">
								<dl>
									<dt><u>Général:</u></dt>
									<dd></dd>
									<dl class="pl-2">
										<dl>
											<dt>Place:</dt>
											<dd>
												<input class="form-control" type="text"
													[(ngModel)]="locationConstraint.place">
											</dd>
										</dl>
										<dl>
											<dt>Landscape:</dt>
											<dd>
												<input class="form-control" type="text"
													[(ngModel)]="locationConstraint.landscape">
											</dd>
										</dl>
										<dl>
											<dt>Matière:</dt>
											<dd>
												<input class="form-control" type="text"
													[(ngModel)]="locationConstraint.material">
											</dd>
										</dl>
									</dl>
								</dl>
							</div>
						</div>
						<div class="card col col-lg-5" *ngIf="ideaForm.get('generationTool')!.value=='object'">
							<div class="card-body">
								<dl>
									<dt><u>Général:</u></dt>
									<dd></dd>
									<dl class="pl-2">
										<dl>
											<dt>Objet:</dt>
											<dd>
												<input class="form-control" type="text"
													[(ngModel)]="objectConstraint.object">
											</dd>
										</dl>
										<dl>
											<dt>Adjectif:</dt>
											<dd>
												<input class="form-control" type="text"
													[(ngModel)]="objectConstraint.adjective">
											</dd>
										</dl>
										<dl>
											<dt>Suffixe:</dt>
											<dd>
												<input class="form-control" type="text"
													[(ngModel)]="objectConstraint.suffix">
											</dd>
										</dl>
									</dl>
								</dl>
							</div>
						</div>
						<div class="card col col-lg-5" *ngIf="ideaForm.get('generationTool')!.value=='quest'">
							<div class="card-body">
								<dl>
									<dt><u>Général:</u></dt>
									<dd></dd>
									<dl class="pl-2">
										<dl>
											<dt>Ordonnateur:</dt>
											<dd>
												<input class="form-control" type="text"
													[(ngModel)]="questConstraint.giver">
											</dd>
										</dl>
										<dl>
											<dt>Receveur:</dt>
											<dd>
												<input class="form-control" type="text"
													[(ngModel)]="questConstraint.receiver">
											</dd>
										</dl>
										<dl>
											<dt>Objectif:</dt>
											<dd>
												<input class="form-control" type="text"
													[(ngModel)]="questConstraint.objective">
											</dd>
										</dl>
										<dl>
											<dt>Danger:</dt>
											<dd>
												<input class="form-control" type="text"
													[(ngModel)]="questConstraint.hazard">
											</dd>
										</dl>
										<dl>
											<dt>Conséquence:</dt>
											<dd>
												<input class="form-control" type="text"
													[(ngModel)]="questConstraint.consequence">
											</dd>
										</dl>
									</dl>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- TABLE -->
		<div>
			<div *ngIf="ideaForm.get('generationTool')!.value=='persona'" class="row" style="margin:0px">
				<div class="card col-sm-4 col-md-4 col-lg-4 bkg-gray-2" *ngFor="let persona of personaList">
					<div class="card-body">
						<dl>
							<dt><u>Général:</u></dt>
							<dd></dd>
							<dl class="pl-2">
								<dl>
									<dt>Nom:</dt>
									<dd>{{persona.name}}</dd>
								</dl>
								<dl>
									<dt>Race:</dt>
									<dd>{{persona.race}}</dd>
								</dl>
								<dl>
									<dt>Age:</dt>
									<dd>{{persona.age}}</dd>
								</dl>
								<dl>
									<dt>Job:</dt>
									<dd>{{persona.job}}</dd>
								</dl>
								<dl>
									<dt>Rôle:</dt>
									<dd>{{persona.role}}</dd>
								</dl>
							</dl>
							<dt><u>Physique:</u></dt>
							<dd></dd>
							<dl class="pl-2">
								<dl>
									<dt>Genre:</dt>
									<dd>{{persona.physical.gender}}</dd>
								</dl>
								<dl>
									<dt>Taille:</dt>
									<dd>{{(persona.physical.height / 100).toFixed(2)}}m</dd>
								</dl>
								<dl>
									<dt>Poids:</dt>
									<dd>{{(persona.physical.weight / 1000).toFixed(2)}}kg</dd>
								</dl>
								<dl>
									<dt>Couleur cheveux:</dt>
									<dd>{{persona.physical.hairColor}}</dd>
								</dl>
								<dl>
									<dt>Style coiffure:</dt>
									<dd>{{persona.physical.hairStyle}}</dd>
								</dl>
								<dl>
									<dt>Couleur yeux:</dt>
									<dd>{{persona.physical.eyesColor}}</dd>
								</dl>
								<dl>
									<dt>Visage:</dt>
									<dd>{{persona.physical.faceShape}}</dd>
								</dl>
								<dl>
									<dt>Morphologie:</dt>
									<dd>{{persona.physical.morphology}}</dd>
								</dl>
							</dl>
							<dt><u>Traits:</u></dt>
							<dd></dd>
							<dl class="pl-2">
								<dl>
									<dt>Bons:</dt>
									<dd>
										<div *ngFor="let goodTrait of persona.traits.goodTraits"> {{goodTrait}}
											<br />
										</div>
									</dd>
								</dl>
								<dl>
									<dt>Mauvais:</dt>
									<dd>
										<div *ngFor="let badTrait of persona.traits.badTraits"> {{badTrait}}
											<br />
										</div>
									</dd>
								</dl>
								<dl>
									<dt>Passe-temps:</dt>
									<dd>
										<div *ngFor="let caracteristic of persona.traits.caracteristics">
											{{caracteristic}}
											<br />
										</div>
									</dd>
								</dl>
								<dl>
									<dt>Handicapes:</dt>
									<dd>
										<div *ngFor="let handicap of persona.traits.handicaps"> {{handicap}}
											<br />
										</div>
									</dd>
								</dl>
							</dl>
						</dl>
					</div>
				</div>
			</div>
			<div *ngIf="ideaForm.get('generationTool')!.value=='creature'" class="row" style="margin:0px">
				<div class="card col-sm-4 col-md-4 col-lg-4 bkg-gray-2" *ngFor="let creature of creatureList">
					<div class="card-body">
						<dl>
							<dt><u>Général:</u></dt>
							<dd></dd>
							<dl class="pl-2">
								<dl>
									<dt>Nom:</dt>
									<dd>{{creature.name}}</dd>
								</dl>
								<dl>
									<dt>Peau:</dt>
									<dd>{{creature.skin}}</dd>
								</dl>
								<dl>
									<dt>Taille:</dt>
									<dd>{{(creature.height / 100).toFixed(2)}}m</dd>
								</dl>
								<dl>
									<dt>Poids:</dt>
									<dd>{{(creature.weight / 1000).toFixed(2)}}kg</dd>
								</dl>
								<dl>
									<dt>Membres externes:</dt>
									<dd>{{creature.nbMoveMembers}}</dd>
								</dl>
							</dl>
							<dl class="pl-2">
								<dl>
									<dt>Lieux de vie:</dt>
									<dd>
										<div *ngFor="let location of creature.locations"> {{location}}
											<br />
										</div>
									</dd>
								</dl>
								<dl>
									<dt>Alimentation:</dt>
									<dd>
										<div *ngFor="let diet of creature.diets"> {{diet}}
											<br />
										</div>
									</dd>
								</dl>
								<dl>
									<dt>Attributs:</dt>
									<dd>
										<div *ngFor="let attribute of creature.attributes"> {{attribute}}
											<br />
										</div>
									</dd>
								</dl>
								<dl>
									<dt>Compétences:</dt>
									<dd>
										<div *ngFor="let skill of creature.skills"> {{skill}}
											<br />
										</div>
									</dd>
								</dl>
							</dl>
						</dl>
					</div>
				</div>
			</div>
			<div *ngIf="ideaForm.get('generationTool')!.value=='honorary_title'" class="row" style="margin:0px">
				<div class="card col-sm-4 col-md-4 col-lg-4 bkg-gray-2" *ngFor="let honoraryTitle of honoraryTitleList">
					<div class="card-body">
						<dl class="mt-1">
							<dt>{{honoraryTitle.title}}</dt>
						</dl>
					</div>
				</div>
			</div>
			<div *ngIf="ideaForm.get('generationTool')!.value=='writing_option'" class="row" style="margin:0px">
				<div class="card col-sm-4 col-md-4 col-lg-4 bkg-gray-2" *ngFor="let writingOption of writingOptionList">
					<div class="card-body">
						<dl>
							<dt><u>Général:</u></dt>
							<dd></dd>
							<dl class="pl-2">
								<dl>
									<dt>Thème:</dt>
									<dd>{{writingOption.theme}}</dd>
								</dl>
								<dl>
									<dt>Style:</dt>
									<dd>{{writingOption.style}}</dd>
								</dl>
							</dl>
						</dl>
					</div>
				</div>
			</div>
			<div *ngIf="ideaForm.get('generationTool')!.value=='location'" class="row" style="margin:0px">
				<div class="card col-sm-4 col-md-4 col-lg-4 bkg-gray-2" *ngFor="let location of locationList">
					<div class="card-body">
						<dl>
							<dt><u>Général:</u></dt>
							<dd></dd>
							<dl class="pl-2">
								<dl>
									<dt>Lieu:</dt>
									<dd>{{location.place}}</dd>
								</dl>
								<dl>
									<dt>Paysage:</dt>
									<dd>{{location.landscape}}</dd>
								</dl>
								<dl>
									<dt>Matière:</dt>
									<dd>{{location.material}}</dd>
								</dl>
								<dl>
									<dt>Proposition:</dt>
									<dd>{{location.place}} dans/sur {{location.landscape | lowercase}} {{location.material | lowercase}}</dd>
								</dl>
							</dl>
						</dl>
					</div>
				</div>
			</div>
			<div *ngIf="ideaForm.get('generationTool')!.value=='object'" class="row" style="margin:0px">
				<div class="card col-sm-4 col-md-4 col-lg-4 bkg-gray-2" *ngFor="let object of objectList">
					<div class="card-body">
						<dl>
							<dt><u>Général:</u></dt>
							<dd></dd>
							<dl class="pl-2">
								<dl>
									<dt>Objet:</dt>
									<dd>{{object.object}}</dd>
								</dl>
								<dl>
									<dt>Adjectif:</dt>
									<dd>{{object.adjective}}</dd>
								</dl>
								<dl>
									<dt>Suffixe:</dt>
									<dd>{{object.suffix}}</dd>
								</dl>
								<dl>
									<dt>Proposition:</dt>
									<dd>{{object.object}} {{object.suffix | lowercase}} {{object.adjective | lowercase}}</dd>
								</dl>
							</dl>
						</dl>
					</div>
				</div>
			</div>
			<div *ngIf="ideaForm.get('generationTool')!.value=='quest'" class="row" style="margin:0px">
				<div class="card col-sm-4 col-md-4 col-lg-4 bkg-gray-2" *ngFor="let quest of questList">
					<div class="card-body">
						<dl>
							<dt><u>Général:</u></dt>
							<dd></dd>
							<dl class="pl-2">
								<dl>
									<dt>Ordonnateur:</dt>
									<dd>{{quest.giver}}</dd>
								</dl>
								<dl>
									<dt>Receveur:</dt>
									<dd>{{quest.receiver}}</dd>
								</dl>
								<dl>
									<dt>Objectif:</dt>
									<dd>{{quest.objective}}</dd>
								</dl>
								<dl>
									<dt>Danger:</dt>
									<dd>{{quest.hazard}}</dd>
								</dl>
								<dl>
									<dt>Conséquence:</dt>
									<dd>{{quest.consequence}}</dd>
								</dl>
							</dl>
						</dl>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>