<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (bookStatus) {
      <div>
        <h2 data-cy="bookStatusDetailsHeading"><span jhiTranslate="nidAuxHistoiresApp.bookStatus.detail.title">Book Status</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ bookStatus.id }}</span>
          </dd>
          <dt><span jhiTranslate="nidAuxHistoiresApp.bookStatus.finished">Finished</span></dt>
          <dd>
            <span>{{ bookStatus.finished }}</span>
          </dd>
          <dt><span jhiTranslate="nidAuxHistoiresApp.bookStatus.favorit">Favorit</span></dt>
          <dd>
            <span>{{ bookStatus.favorit }}</span>
          </dd>
          <dt><span jhiTranslate="nidAuxHistoiresApp.bookStatus.book">Book</span></dt>
          <dd>
            @if (bookStatus.book) {
              <div>
                <a [routerLink]="['/book', bookStatus.book.id, 'view']">{{ bookStatus.book.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="nidAuxHistoiresApp.bookStatus.curentChapter">Curent Chapter</span></dt>
          <dd>
            @if (bookStatus.curentChapter) {
              <div>
                <a [routerLink]="['/chapter', bookStatus.curentChapter.id, 'view']">{{ bookStatus.curentChapter.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/book-status', bookStatus.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
