<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="book">
            <h2><span jhiTranslate="nidAuxHistoiresApp.book.detail.title">Book</span> {{ book.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nidAuxHistoiresApp.book.name">Name</span></dt>
                <dd>
                    <span>{{ book.name }}</span>
                </dd>
                <dt><span jhiTranslate="nidAuxHistoiresApp.book.author">Author</span></dt>
                <dd>
                    <div *ngIf="book.authorLogin">
                        <a *jhiHasAnyAuthority="['ROLE_ADMIN']" [routerLink]="['/admin/user-management', book.authorLogin, 'view']">{{ book.authorLogin }}</a>
                        <a *jhiHasNoAuthority="['ROLE_ADMIN']" [routerLink]="['/authors/', book.authorLogin, 'visit']">{{ book.authorLogin }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nidAuxHistoiresApp.book.cover">Cover</span></dt>
                <dd>
                    <div *ngIf="book.coverId">
                        <a [routerLink]="['/entities/cover', book.coverId, 'view']">{{ book.coverId }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="nidAuxHistoiresApp.book.visibility">Visibility :</span></dt>
                <dd>
                    <div *ngIf="book.coverId">
                        <fa-icon icon="eye" *ngIf="book.visibility"></fa-icon>
                        <fa-icon icon="eye-slash" *ngIf="!book.visibility"></fa-icon>
                    </div>
                </dd>
                <dt><span jhiTranslate="nidAuxHistoiresApp.book.parts">Parts</span></dt>
                <dd>
                    <div *ngFor="let part of book.parts">
                        <a [routerLink]="['/entities/part', part.id, 'view']">{{ part.id }} - {{ part.name }}</a>
                    </div>
                    <div>
                        <a [routerLink]="['/entities/part/new']" [queryParams]="{bookId: book.id}">
                            <fa-icon icon="plus"></fa-icon>
                        </a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/entities/book', book.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
