<div>
    <h2 id="page-heading">
        <span jhiTranslate="nidAuxHistoiresApp.wordAnalysis.home.title">Word Analyses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-word-analysis" [routerLink]="['/word-analysis/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="nidAuxHistoiresApp.wordAnalysis.home.createLabel">
            Create a new Word Analysis
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="wordAnalyses?.length === 0">
        <span jhiTranslate="nidAuxHistoiresApp.wordAnalysis.home.notFound">No wordAnalyses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="wordAnalyses && wordAnalyses.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="type"><span jhiTranslate="nidAuxHistoiresApp.wordAnalysis.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="nidAuxHistoiresApp.wordAnalysis.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="analysis"><span jhiTranslate="nidAuxHistoiresApp.wordAnalysis.analysis">Analysis</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let wordAnalysis of wordAnalyses ;trackBy: trackId">
                    <td><a [routerLink]="['/word-analysis', wordAnalysis.id, 'view']">{{ wordAnalysis.id }}</a></td>
                    <td>{{ wordAnalysis.type }}</td>
                    <td>{{ wordAnalysis.name }}</td>
                    <td>{{ wordAnalysis.analysis }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/word-analysis', wordAnalysis.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/word-analysis', wordAnalysis.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(wordAnalysis)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="wordAnalyses && wordAnalyses.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
