<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wordAnalysis">
            <h2><span jhiTranslate="nidAuxHistoiresApp.wordAnalysis.detail.title">Word Analysis</span> {{ wordAnalysis.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nidAuxHistoiresApp.wordAnalysis.type">Type</span></dt>
                <dd>
                    <span>{{ wordAnalysis.type }}</span>
                </dd>
                <dt><span jhiTranslate="nidAuxHistoiresApp.wordAnalysis.name">Name</span></dt>
                <dd>
                    <span>{{ wordAnalysis.name }}</span>
                </dd>
                <dt><span jhiTranslate="nidAuxHistoiresApp.wordAnalysis.analysis">Analysis</span></dt>
                <dd>
                    <span>{{ wordAnalysis.analysis }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/entities/word-analysis', wordAnalysis.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
