<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (scene) {
      <div>
        <h2 data-cy="sceneDetailsHeading"><span jhiTranslate="nidAuxHistoiresApp.scene.detail.title">Scene</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ scene.id }}</span>
          </dd>
          <dt><span jhiTranslate="nidAuxHistoiresApp.scene.name">Name</span></dt>
          <dd>
            <span>{{ scene.name }}</span>
          </dd>
          <dt><span jhiTranslate="nidAuxHistoiresApp.scene.number">Number</span></dt>
          <dd>
            <span>{{ scene.number }}</span>
          </dd>
          <dt><span jhiTranslate="nidAuxHistoiresApp.scene.text">Text</span></dt>
          <dd>
            <span>{{ scene.text }}</span>
          </dd>
          <dt><span jhiTranslate="nidAuxHistoiresApp.scene.timestampStart">Timestamp Start</span></dt>
          <dd>
            <span>{{ scene.timestampStart | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="nidAuxHistoiresApp.scene.image">Image</span></dt>
          <dd>
            @for (image of scene.images; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/image', image.id, 'view']">{{ image.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
          <dt><span jhiTranslate="nidAuxHistoiresApp.scene.chapter">Chapter</span></dt>
          <dd>
            @if (scene.chapter) {
              <div>
                <a [routerLink]="['/chapter', scene.chapter.id, 'view']">{{ scene.chapter.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/scene', scene.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
