<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bonus">
            <h2><span jhiTranslate="nidAuxHistoiresApp.bonus.detail.title">Bonus</span> {{ bonus.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="nidAuxHistoiresApp.bonus.name">Name</span></dt>
                <dd>
                    <span>{{ bonus.name }}</span>
                </dd>
                <dt><span jhiTranslate="nidAuxHistoiresApp.bonus.extension">Extension</span></dt>
                <dd>
                    <span>{{ bonus.extension }}</span>
                </dd>
                <dt><span jhiTranslate="nidAuxHistoiresApp.bonus.book">Book</span></dt>
                <dd>
                    <a [routerLink]="['/entities/book', bonus.bookId, 'view']">{{ bonus.bookId }}</a>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bonus', bonus.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
