@import 'variables';

@media only screen and (max-width: $screen_w_l) {
  h1 {
    font-size: 5vw;
  }

  h2 {
    font-size: 4.5vw;
  }

  h3 {
    font-size: 4vw;
  }

  h4 {
    font-size: 3.5vw;
  }

  h5 {
    font-size: 2vw;
  }

  h6 {
    font-size: 150%;
  }

  .text-dynamic {
    font-size: 2vw;
  }

  .jhi-sidebar {
    position: absolute;
    width: 100%;
    top: 0px;
  }

  .addapt-summary.addapt-summary-open {
    display: none;
  }
}

@media only screen and (max-width: $screen_w_m) {
  html,
  body {
    overflow: auto !important;
  }

  article {
    width: 90%;
  }

  .text-dynamic {
    font-size: 12px;
  }

  .jh-card {
    margin-bottom: 20px;
  }

  .jhi-sidebar {
    position: static;
  }
}

@media only screen and (max-width: $screen_w_s) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 14px;
  }
}
