@import 'variables';

h1,
h2 {
  text-align: center;
}

article {
  width: 65%;
  margin: auto;
}

article h2 {
  margin-top: 20px;
}

.text-dynamic {
  font-size: 1.1rem;
}

.addapt-summary {
  padding-top: 20px;
}

.addapt-summary.addapt-summary-open {
  margin-left: 12vw;
}

.btn,
.page-link,
.navbar,
img {
  user-select: none;
}

p {
  font-size: 140%;
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: justify;
  hyphens: auto;
  color: black;
  font-weight: bolder;
}

.jhi-sidebar {
  position: fixed;
  width: 25%;
  left: 0px;
  top: 62px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container-limit {
  width: 100%;
  overflow-y: scroll;
  height: $height_nav;
  margin-top: 43px;
}

.bkg-white {
  color: $black !important;
  background-color: $white !important;
}

.bkg-gold {
  color: $black !important;
  background-color: $gold !important;
}

a.bkg-gold:hover,
button.bkg-gold:hover {
  background-color: $dark_gold !important;
  cursor: pointer;
}
