/* Coolors Exported Palette - coolors.co/d3d0cb-587b7f-e2c044-393e41-1e2019 */

/* RGB */
$white: #ffffff;
$gold: #efcc07;
$dark_gold: #ccad00;
$gray: #e2e2e2;
$black: #000000;
$book_color: #ffdfca;
$book_color_pages: #e7ddd0;

$font_h1: 24px;
$font_h2: 22px;
$font_h3: 20px;
$font_h4: 18px;

$screen_h_s: 350px;
$screen_w_s: 400px;
$screen_w_m: 600px;
$screen_w_l: 850px;
$screen_w_tl: 1200px;
$screen_w_xl: 1370px;
$screen_w_xxl: 1450px;

$height_nav: calc(100vh - 102px);

$book_height: 400px;
