/* Coolors Exported Palette - coolors.co/d3d0cb-587b7f-e2c044-393e41-1e2019 */

/* RGB */
$white: #ffffff;
$gold: #efcc07;
$dark_gold: #ccad00;
$gray: #e2e2e2;
$dark_gray: #c4c4c4;
$black: #1e2019;
$red: #1e2019;

$height_nav: calc(100vh - 103px);
